/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 12-Oct-2015, 09:19:28
    Author     : Archie
*/

#accordion  {
    width: 250px;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 70%;
    clear: both;
}