/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 20-Nov-2015, 16:20:43
    Author     : Archie
*/

#reportParametersTable {
    display: none;
}

#header {
    width:100%;
    font-size: 12pt;
    font-weight: bold;
    padding: 3px;
}

.parametersBorder {
    border: 1px solid black;
    width: 350px;
    margin: 5px;
    
    border-radius: 10px;
    border: 2px solid #004a80;
    padding-left: 1em;  
    padding-right: 1em; 
}