/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 08-Oct-2015, 10:36:40
    Author     : Archie
*/

/* the message section*/
#dialog-confirm {
    font-size: 90%; 
}

/* the buttons*/
.ui-dialog button.custom { 
    font-size: 70.5%; 
}
