/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 09-Oct-2015, 13:29:51
    Author     : Archie
*/

.categoryBlock {
    width:800px;
}

.categoryBlockHeader {
    border-bottom: 1px solid white;
    font-weight: bold;
    float:left; 
    background-color: #1D6191;
    color: white;
    font-weight: normal;
}

.categoryBlockRow {
    border-bottom: 1px solid white;
    float:left;
}

.categoryBlockClearBoth {
    clear: both;
    height: 1px;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    border-bottom: 1px solid white;
    background-color: #c0dbf0;
    float:left;
}

.row:hover .col {
    background-color: #799fba;
}

#rounded-corners-left-top-col {
    -moz-border-radius: 10px 0 0 0 !important;
    border-radius: 10px 0 0 0;
}
#rounded-corners-right-top-col {
    -moz-border-radius: 0 10px 0 0 !important;
    border-radius: 0 10px 0 0;
}
#rounded-corners-left-bottom-col {
    -moz-border-radius: 0 0 0 10px !important;
    border-radius: 0 0 0 10px;
}
#rounded-corners-right-bottom-col {
    
    -moz-border-radius: 0 0 10px 0 !important;
    border-radius: 0 0 10px 0;
}