/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Nov-2015, 16:05:24
    Author     : alexandra
*/
/*body{
   // font-family: helvetica;
}*/

/* Enquiry Choose Customer Screen*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#newEnquiryContainer{
    width: 100%;
    float: left;
}

#selectEnquiryOptions{
    width: 50%;
    float: left;
    margin-left: 5px;
}

#enquiryTbl td{
   height: 30px;
   text-align:right;
   width: 350px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
}

#searchBox, #searchBoxOne, #searchBoxIMO, #searchBoxInst {
    float:left;
    width: 350px;
}

#searchList li, #searchListOne li, #searchListIMO, #searchListInst, #searchListPast {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
} 

#searchList, #searchListOne, #searchListIMO, #searchListInst, #searchListPast {
    text-align:left;
    border: 1px solid gray;
    background-color: lightgray;
    margin-top:0px;
    margin-bottom:10px;
}

.selectCustomerContact{
    width: 185px;
    float: left;
    margin-bottom:10px;
    overflow:hidden;
}

#addContact{
    float: left;
    margin-left:15px;
}

.tdLabel {
    font-weight: bold;
}

.enquiryFields{
   width: 180px;
   float:left;
}

.enquiryselectOptions{
   width: 185px;
   float:left;
   margin-bottom:10px;
}

#submitEnquiryButton{
    float: right;
}

#cancelEnquiryButton{
    float: left;
    margin-right: 5px;
}

#customerNotesContainer{
    float: left;
    border: 1px solid red;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 375px;
    height: auto;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 108px;
}

label { 
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    vertical-align: top;
}



/* Enquiry Add New Customer Contact Screen*/

#addNewContactContainer{
    width: 350px;
    margin-left:30px;
    float: left;
}
#addContactTbl td{
   height: 30px;
   text-align:right;
   width: 225px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
   float:left;
}

.addContactFields{
    width: 200px;
    float:left;
}

#cancelAddContact{
    float: left;
    margin-right: 5px;
}

#submitAddContact{
    float: right;
}


/* Add Engines & Installations Enquiry Diesel Screen*/
#selectEngineInstallationContainer{
    width: 100%;
    float: left;
}

#engineDetailsTbl td{
   height: 30px;
   text-align:right;
   width: 125px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
}

.engineFields{
   width: 155px;
   float:left;
   text-align:left;
}

#serialNoCheck {
    float:left;
}

#addNewEngine{
    float:left; 
}

#cylinders {
    width:40px;
    float:left;
    text-align:left;
}

#installationTbl td{
   height: 30px;
   text-align:right;
   width: 125px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
} 

#installation{
    width:225px;
    float:left;
    text-align:left;
}

#installation {
    float:left;
}

#installationTypeTbl{
    margin-left: 65px;
    width: 500px;
}

#installationTypeTbl td{
   height: 12px;
   text-align:left;
   width: 100px;
   font-weight: bold;
   font-size: 18px;
   padding-right: 3px;
}

#showInstallationTbl{
    margin-left: 140px;
    width: 230px;
    border-top: 1px solid blue;
    border-bottom : 1px solid blue;
    background-color: #FFC125;
}

#showInstallationTbl td{
   height: 12px;
   text-align:left;
   width: 85px;
   font-weight: bold;
   font-size: 11px;
   padding-right: 3px;
}

#addEngine{ 
    float:right;
}

#availableInstallationsContainer{
    width: 45%;
    float: left;
    margin-left: 45px;
    margin-top: 45px;
}


/* Add Vessel Enquiry Marine Screen*/
#selectMarineVesselContainer{
    width: 100%;
    float: left;
}

#selectEnquiryOptions{
    width: 50%;
    float: left;
    margin-left: 5px;
}

#vesselIMOTbl td{
   height: 30px;
   text-align:right;
   width:100px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
}

#vesselIMO {
   width: 125px;
   float:left;
}

#searchIMO{
    float:left;
}

#addNewVessel{
    float:right;
}

#vesselNameTbl td{
   height: 30px;
   text-align:right;
   width:100px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
}

#vesselName{
   width: 225px;
   float:left;
}

/* Commission Enquiry Screen*/
#selectCommissionContainer{
    width: 60%;
    float: left;
}

#commissionTbl td{
   height: 30px;
   text-align:right;
   width: 135px;
   padding-right: 10px;
   font-weight: bold;
   font-size: small;
   vertical-align: top;
}

/* Enquiry Dashboard Screen*/
.dashboardButton  {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:90px;
    padding-bottom: 2px;
    padding-top: 4px;
    border-radius: 4px;
    border: 1px solid blue;
}
.dashboardButton:hover {
    background-color: blue;
}


#enquiryDashboardTbl{
    margin-left:auto; 
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*border: 2px solid green;*/
    
}
#enquiryDashboardTbl th{
   height: 35%;
   text-align:center;
   width: 250px;
   color: white;
   font-weight:  bold;
   font-size: 15px;
   vertical-align: top; 
   border: 2px solid green;
   background-color: green;   
   padding-right: 20px;
}

#enquiryDashboardTbl tr{
   height: 28px;
   text-align:left;
   font-size: 14px;
   vertical-align: top;
}

#enquiryDashboardTbl td{
   padding-top: 10px;
   height: 25px;
   text-align:left;
   font-size: 14px;
   vertical-align: top;
   padding-left: 10px;
}

#enquiryDashboardTbl img{
   height: 20px;
   width: 20px;
   margin-right: 5px;
   vertical-align: Bottom;
}

/* Edit Enquiry Header*/
#editEnquiryHeader{
    width: 50%;
    float: left;
    margin-left: 5px;
}

#cancelEditEnqHeader{
    float: left;
    margin-right: 5px;
}

#submitUpdateEnqHeader{
    float: right;
}