/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 22-Oct-2015, 10:27:34
    Author     : Archie
*/

#officeLocations {
    margin-top: 20px;
    margin-bottom: 35px;
    color: black;
}

#officeLocationsHeader {
    height: 2.2em;
    background: #ededed; 
    box-shadow: 2px 2px 2px #888888;
    padding-left: 10px;
    padding-top: 9px;
    font-weight: bold;
    margin-bottom: 15px;
}

#installationsJumpMenu li{
    display: inline;
    margin-right:20px;
}

.selectorDropDownBar, 
.selectorDropDownBarProd, 
.selectorDropDownBarManaged,
.selectorDropDownBarOwner,
.selectorDropDownBarTech {
    height: 2em;
    background: #d3d3d4;  /*#004a80; */
    color: black;
    box-shadow: 2px 2px 2px #888888;
    padding-left: 10px;
    padding-top: 9px;
    font-weight: bold;

    margin-bottom: 5px;
}

.hiddenBlock {
    display: none;
}

.showBlock {
    display: block;
}

.showTable {
    display: table;
}

.tab {
    background: black;
    -moz-border-radius: 5px !important;
    border-radius: 5px;
    height:30px;
    width: 80%;
    padding-left: 0;

}


.tab {
    background: black;
    -moz-border-radius: 5px !important;
    border-radius: 5px;
    height:30px;
    width: 80%;
    padding-left: 0;

}

.tab img {
    margin-right: 20px;
    vertical-align: central;    
}

.tab li {
    display: inline-block;
    width:23%;
    padding-top:5px;
    margin-left: 10px;
    height: 30px;
}

.tab .border {
    border-right: 1px solid #fafbc7;
}
.tab a {
    color: #fafbc7;
    text-decoration: none;
}

#returnLink a, #returnLink a:visited {
    text-decoration: none;
    color: black;
}


.conversationContentBox {
    max-width: 400px;
    width: 400px;
    min-height: 30px;
    border: 1px solid black;
}

.activeConversationContentBox {
    max-width: 400px;
    width: 400px;
    min-height: 30px;
    border: 1px solid black;
    word-wrap: break-word;
}

#replyFormDiv {
    display: block;
}

.conversationBox {
    background: white;
    margin-bottom: 5px;
    width: 90%;
    padding:5px;
    -moz-border-radius: 10px !important;
    border-radius: 10px;
}

.contactSelected a {
    color: #0099ff;
}

.contactUnselected a {
    color: black;
}