#content {
    position: relative;
    margin-top: 120px;
    min-width: 800px;
    padding-left: 2em;
    font-size: 0.8em;
}

#topBarTitleWelcome {
    font-size: 0.8em;
    background-color: #111111;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0em;
    height: 4.5em;
    z-index: 2;
}

#topBarTitleWelcome #title {
    position: fixed;
    top: 1.1em;
    left: 3em;
    color: white;
    font-size: 16px;
    vertical-align: middle;
}
.shield {
    margin-top: 1.3em;
    margin-left: 15px;
    text-align: left;
}

#userName {
    font-weight: bold;
    right:1em;
    top:1em;
    position:fixed;
}

#notifyAdmin img {
    top:1em;
    z-index: 200;
}


#userName a {
    padding-left:10px;
    color: white;
}
#leftColumn {
    position: relative;
    float: left;
    max-width: 50%;
}

#rightColumn {
    position: relative;
    float:right;
}

#clearBoth {
    clear:both;
}





#historyColumn {
    position: fixed;
    top: 13em;
    right: 3em;
    width:10em;
    border-radius: 25px;
    border: 2px solid #004a80;
    padding-left: 1em;  
    padding-right: 1em; 
    padding-bottom: 1em; 
}

#expand, #retract {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    color: grey;
}

.retractMenu {
    display: none;
}

#navBar {
    height: 30px;
    max-width: 800px;
    width: 70%;
    margin-bottom: 5px;
}

#filter {
    float: right;
}

#articleHref {
    float: left;
}

#pushDownSection {
    height: 2px;
    clear:both;
}

