/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Apr-2015, 13:31:23
    Author     : Archie
*/
@font-face {
                font-family: "Helvetica LT Com Light";
                src: url(./fonts/HelveticaLTCom-Light.ttf);
}
@font-face {
                font-family: "Helvetica LT Com Roman";
                src: url(./fonts/HelveticaLTCom-Roman.ttf);
}


        
body {
    font-family: "Helvetica LT Com Light", "Franklin Gothic Book";
}
p {
    
    font-family: "Helvetica LT Com Light", "Franklin Gothic Book";
}


a {
    color: black;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color:red;
}

.title {
    font-weight: bold;
    vertical-align: top;
}

.headerH2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 30px;
}

#reminders {
    top: 120px;
    right: 60px;
    position: fixed;
    border: 1px solid black;
    color: red;
}

#convLeftColumn {
    position: relative;
    float: left;
    max-width: 70%;
}

#convRightColumn {
    position: relative;
    float:right;
}

#pagination {
    font-size: 18px;
    
    width: 100%;
}

#pagination table {
    margin: 0 auto;
}

.multiSelect{
    min-width:150px;
}

.multiSelectButtons button {
    width:40px;
}

.feed {
    border: 1px solid black;
    width: 350px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid #004a80;
    padding-left: 1em;  
    padding-right: 1em; 
    padding-bottom: 1em; 
}

.feed table {
    font-size: 0.9em;
}

.notice {
    margin-left: 50px;
    margin-bottom: 1em;
    width: 60%;
    border-radius: 25px;
    border: 2px solid #004a80;
    padding-left: 1em;  
    padding-right: 1em; 
    padding-bottom: 1em; 
}

.notice .item {
    margin-left: 1em;
}

.noticeDate {
    text-align: right;
}

.noticeTitle {
    font-size: 18px;
    font-weight: bold;
}
.editTools {
    text-align: right;
    margin-top: 1em;
}
.tinyText {
    font-size: 9px;
}

#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#expList ul li {
    margin-bottom: 2em;
}

#expList li {
    line-height:140%;
    text-indent:0px;
    background-repeat: no-repeat;
    background-position: 0 0.2em;
    padding-left: 1.5em;
    font-weight: bold;
    
}

#expList li ul li {
    margin-bottom: 0;
}

#expList li ul li a {
    font-weight: normal;
    color: blue;
}
 
/* Collapsed state for list element */
/*#expList .collapsed {
    background-image: url(../icons/arrow-down.png);
}*/
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
/*#expList .expanded {
    background-image: url(../icons/arrow-up.png);
}
*/
#error {
    color: red;
}

#success {
    color: green;
}

.newCategory {
    color: blue;
}

.redHighlight a  {
    color: white;
}


.amberHighlight a  {
    color: blue;
}

#awaitingAuth {
    border: darkred 1px solid;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100%;
    vertical-align: central;
    background-color: red;
    color: white;
}


    



#reportHeaderLeft {
    float: left;
    position: relative; 
}

#settings {

    float: right;
    position: relative;
    right: 35px;
    z-index: 1;
}

#installationsTable {
    width:100%;
    clear:both;
}

.removeDoc {
    text-align:center;
}

.removeDocButton {
    cursor: pointer; 
    border: 0; 
    background: white;
    width:40px;
}

#newCustomerBlock {
    display: none;
}

#adminDownload {
    clear: both;
    float: left;
    position: relative; 
}