#subMenuBar {
    border-top: grey 1px solid;
    background-color: #111111;
    color: white;
    height:2.5em;
    position: fixed;
    top:3em;
    right:0;
    z-index: 2;
    left:0em;
}
#subMenuBar ul {
    float: left;
    margin-top: 5px;
}
#subMenuBar li  {
    margin-left: 0;
    display: inline;
    padding: 5px;
    border-right: grey 1px solid;
    border-left: grey 1px solid;
    padding-bottom: 11px;
}
#subMenuBar a {
    color: white;
    text-decoration: none;
}

#subMenuBar a:hover {
    color: grey;
}

#subMenuBar li.selected {
    background-color: #004a80;

}/*
#subMenuBar li.selected a:hover {
    color: white;
}

#subMenuTitle {
    float:left;
    position: relative;
    top: 1em;
    left: 2em;
    color: red;
}*/