/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 09-Oct-2015, 15:59:22
    Author     : Archie
*/


.selectedButton {
    background-color: #004a80; /* fallback color if gradients are not supported */

    padding-top: 0em;
    padding-bottom: 0em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #083749;
}

.selectedButton a {
    color: white;
    text-decoration: none;
}

.unselectedButton {
    color: white;
    font-weight: normal;
    text-decoration: none;
    border-left: 1px solid #083749;
    border-right: 1px solid #083749;
}

.unselectedButton a {
    color: white;
    text-decoration: none;
}



#notifyAdminInlineMenu {
    background: black;
    -moz-border-radius: 5px !important;
    border-radius: 5px;
    height:31px;
    width: 80%;
    padding-left: 1px;
}

#notifyAdminInlineMenu li {
    display: inline-block;
    margin-left: 10px;
    line-height: 30px;
    height: 30px;
    width:105px;
    text-align: center;
}

#notifyAdminInlineMenu img {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}

#notifyAdminInlineMenu .border {
}



#installationsInlineMenu {
    background: black;
    -moz-border-radius: 5px !important;
    border-radius: 5px;
    height:31px;
    width: 80%;
    padding-left: 10px;
}

#installationsInlineMenu li {
    display: inline-block;
    margin-left: 10px;
    line-height: 30px;
    height: 30px;
    width:23%;
    text-align: center;
}

#installationsInlineMenu img {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}

#installationsInlineMenu .border {
}