/*
This project and all parts therein are the property of Simplex-Turbulo Diesel and Marine Group.
Author: Archie Curtis
*/
/* 
    Created on : 09-Oct-2015, 13:29:51
    Author     : Archie
*/

table {
    border-collapse: collapse;
    min-width: 60%;
    margin-bottom: 40px;
    
}

table .title {
    font-weight: normal;
    color: grey;
    font-size: 0.9em;
}


.dataTable tr {
}



th {
    text-align: left;
    padding-bottom: 5px;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

table th a {
}
/*.borderedTable {
    -moz-border-radius: 5px !important;
    //border-collapse: separate;
    border-left: 0;
    border-radius: 5px;
   // border-spacing: 0px;

}*/
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

#reportTbl {
    font-size: 8pt;
}

.borderedTable th {
    vertical-align: top;
    white-space: nowrap;
    padding:2px 8px 2px 8px;
    font-weight: bold;
}

.borderedTable td {
    vertical-align: top;
    white-space: nowrap;
    padding:5px 8px 5px 8px;
}

.borderedTable .redHighlight  {
    background-color: #ff2f25;
}


.borderedTable .amberHighlight  {
    background-color: #f9e578;
}

/*.borderedTable tr:hover td {
    //background-color: #9eafec;
    background-color: #799FBA;
}*/

.emptyCell {
    text-align: center;
}

.header-border th {
}

/*.borderedTable .rounded-corners-left-top {
    -moz-border-radius: 10px 0 0 0 !important;
    border-radius: 10px 0 0 0;
}
.borderedTable .rounded-corners-right-top {
    -moz-border-radius: 0 10px 0 0 !important;
    border-radius: 0 10px 0 0;
}
.borderedTable tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 10px !important;
    border-radius: 0 0 0 10px;
}
.borderedTable tr:last-child td:last-child {
    -moz-border-radius: 0 0 10px 0 !important;
    border-radius: 0 0 10px 0;
}*/