.menuBar {
    position: fixed;
    left: 7em;
    top: 0.6em;
    z-index: 2;
}
.menuBar ul {

}

.menuBar li {
    display: inline;
    padding: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.menuBar a {
    color: white;
    text-decoration: none;
}

.menuBar a:hover {
    color: grey;
}


.menu li.selected a {
    color: gold;
}



.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: arial;
    left: 0;
    list-style-type: none;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {color: darkgrey}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
    color: gold;
}